<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div id="app">
        <p>vue分页 {{activePage}}</p>
        <p>
            <button @click="clickPage('f')" v-if="activePage!=1">首页</button>
            <button @click="clickPage('l')"><</button>
            <span v-for="r in Math.ceil(pageSum/pageNum)-1">
                <button :class="{active:activePage== i+( r - 1 )*pageNum }" v-if="activePage <= r*pageNum&&activePage>(r-1)*pageNum&&r<Math.ceil(pageSum/pageNum)" 
                    v-for="i in pageNum"  v-text="i+( r - 1 )*pageNum"></button>
            </span>
            <button :class="{active:activePage== i+parseInt(pageSum/pageNum)*pageNum }" v-if="activePage>parseInt(pageSum/pageNum)*pageNum" v-for="i in parseInt(pageSum % pageNum)" v-text="i+parseInt(pageSum/pageNum)*pageNum">
            </button>
            <span v-if="activePage<parseInt(pageSum/pageNum)*pageNum+1"><button>...</button><button v-text="pageSum"></button></span>
            <button @click="clickPage( 'r') ">></button>
            <button @click="clickPage( 'e')" v-if="activePage!=pageSum ">尾页</button>
        </p>
    </div>
    <script src="vue2.0.js "></script>
    <script>
        var vm = new Vue({
            data: {
                activePage: 15,
                pageSum: 20,
                pageNum: 3,
            },
            computed: { //有些数据是要根据我们的提供的数据计算出来的
                //默认的是获取属性 在页面中获取属性b会调用对应的方法
                b: function() {
                    //当前this是vue的实例
                    return this.name + ' world'
                }
            },
            methods: {
                clickPage(btn, num) {
                    if (btn == "e") {
                        this.activePage = this.pageSum;
                    } else if (btn == "f") {
                        this.activePage = 1;
                    } else if (btn == "l") {
                        if (this.activePage <= 1) return false;
                        this.activePage--;
                    } else {
                        if (this.activePage >= this.pageSum) return false;
                        this.activePage++;
                    }
                    console.log(btn, num, this.activePage);
                }

            }

        }).$mount('#app'); //使用$mount查找#pp并绑定vue
    </script>
    <style>
        button {
            padding: 5px 10px
        }
        
        .active {
            background: #e3493c;
            color: #eee;
        }
    </style>
    </bod