<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        input {
            opacity: 0;
            position: relative;
            left: 20px;
        }
    </style>
</head>
<div id="app">

    <div v-for="(rad,key) in chekboxList">
        <!--处理（）内的数组显示成字符串-->
        <h4>{{key+1}}/.{{rad.text}} (<b>{{rad.radStr }}</b>)</h4>
        <span v-for="(vl,ABC) in rad.list">
               <input type="radio"  :value="ABC"  v-model="rad.radio"
                      :name="rad.name"
                      @click="radioFun(key,ABC)" :id="ABC+key">
               <b v-text="ABC"></b>
               <label :for="ABC+key" style="padding-left:10px;">{{vl}}</label>
           </span>
        <hr>
    </div>


</div>

<body>
    <script src="vue.2.42.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {

                chekboxList: [{
                    text: '123',
                    name: 'aa',
                    list: {
                        A: 'aaa',
                        B: 'bbb',
                        C: 'ccc'
                    },
                    radio: [],
                    radStr: '',
                }, {
                    text: '456',
                    name: 'bb',
                    list: {
                        A: 'aaaa',
                        B: 'bbbbb',
                        C: 'cccccc'
                    },
                    radio: []
                }, {
                    text: '789',
                    name: 'cc',
                    list: {
                        A: 'aaaaa',
                        B: 'bbbbbbb',
                        C: 'ccccccc'
                    },
                    radio: []
                }, ],

            },
            methods: {
                radioFun: function(n, ABC) {
                    console.log(n);
                    console.log(ABC);
                    //                处理（）内的数组以字符串显示- 所以上一步就不用调样式了
                    //当input type=radio时，typeof this.chekboxList[n].radio接受的数据类型是String类型的，当input type=checkBox时，typeof this.chekboxList[n].radio接受的数据类型是数组对象。
                    typeof this.chekboxList[n].radio == "string" ? this.chekboxList[n].radStr = this.chekboxList[n].radio : this.chekboxList[n].radStr = this.chekboxList[n].radio.join();
                }
            }
        });
    </script>
</body>

</html>