* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: none;
    background: none;
    font: 16px 'Avenir', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    list-style:none;
}
html,body{height:100%;}
.bgRedActive,.bgRed{
    background: #e3493c!important;color:#eee;
}
button,.minBtn,[type="button"]{text-align:center;width:auto;height:auto;display:inline-block;vertical-align:middle;border-radius:3px;font:14px "微软雅黑"}
.bgGreen{background:#0075a9;color: #eee;}
.minBtn{padding:3px 5px;margin:0 3px;}
[type='radio'],[type="checkBox"]{vertical-align:middle;margin:0 3px;}
.inlineBlcokM {
    display: inline-block;
    vertical-align: middle;
}

.inlineBlcokT {
    display: inline-block;
    vertical-align: top;
}
.inlineBlcokB {
    display: inline-block;
    vertical-align: bottom;
}
.max1200 {
    max-width: 1200px;
    margin: 0 auto;
}
img {
    width: 100%;
}
.footerNavBar{position:fixed;left:0;right:0;bottom:0;width:100%;display:flex;justify-content: space-around;height:60px;}
.footerNavBar>li{align-items:center}

