
@font-face {font-family: "iconfont";
  src:url('iconfont.woff') format('woff');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qian:before { content: "\e601"; }

.icon-jiaoyi:before { content: "\e6ba"; }

.icon-addpeople_fill:before { content: "\e6e1"; }

.icon-dynamic_fill:before { content: "\e6f4"; }

.icon-dynamic:before { content: "\e6f5"; }

.icon-empty_fill:before { content: "\e6f7"; }

.icon-group_fill:before { content: "\e6ff"; }

.icon-homepage_fill:before { content: "\e702"; }

.icon-mine_fill:before { content: "\e70e"; }

.icon-pengyou:before { content: "\e63d"; }

