<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue 综合练习</title>
    <script src="../js/vue2.0.js"></script>
</head>
<body>
<div id="message">
<!--<form>-->
    <p>
        <label for="messageName">名字</label>
        <input type="text" placeholder="请输入您的姓名" id="messageName" v-model="msgName">
    </p>
    <p>
        <label for="messageAge">年龄</label>
        <input type="text" placeholder="请输入您的年龄" id="messageAge" v-model="msgAge">
    </p>
    <button class="addBtn" @click="addMsg">添加</button>
    <button type="reset" class="resetBtn">重置</button>
<!--</form>-->
    <hr>
    <table>
        <caption><h3>添加信息表</h3></caption>
        <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(val,key) in msg">
            <td v-text='key+1'></td><td v-text='val.name'></td><td v-text='val.age'></td>

            <td  @click="deletMsg(val)">删除</td>  <!-- 直接找到对象删除 -->
        </tr>
        <tr>
        <td v-show="msg.length!=0" @click="deletMsg('all')">全部删除</td>
        </tr>
        </tbody>
    </table>
    <hr>
    <p v-show="msg.length==0">没有更多数据!</p>
</div>
<script>
 new Vue({
    el:"#message",
    data:{
        msg:[],
        msgName:'',
        msgAge:'',
    },
    methods:{
        addMsg:function(){
            this.msg.push({name:this.msgName,age:this.msgAge});
            this.msgName='';
            this.msgAge='';
        },
        // deletMsg:function (n){
        deletMsg:function (n){
//            console.log(this.msg.length);
            console.log(n);
            n=='all'?this.msg.splice(0):console.log(this.msg.splice(n,1));

            // splice(0)  只有一个参数时是将参数开始的位置到结尾部分全部删除。
            //splice(n,1)  当有两个参数时，第一个参数是删除开始的位置，第二个参数是删除的个数  当第二个为0时表示不删除
            //splice(n,0|m,xxx)    当有三个参数时，第一个参数表示删除（添加）的位置，第二个参数是删除的个数，(当第二个为0时表示不删除);第三个参数表示添加项

        }
    }
});
</script>
</body>
</html>